.main {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
}

.about {
    color: aqua;
    font-size: 18px;
    margin-top: 10px;
    background-color: blue;
    padding: 10px;
    border-radius: 5px;
}
#image {
    border: 20px solid #000;
    border-radius: 50px;
    margin-top: 10px;
}